body{   
    background: url(../img/Wall.png) 70%;
    
    background-color: #131313; 
    margin: 0;
    overflow: auto; /*для прокрутки*/
}

.header{ /*заголовок*/
    width: 70%; /**/
    background-color: #131313; 
    border-bottom: 1px solid #272727; /*нижня лінія*/
    margin: 0 auto; /*відміна зовнішнього (верхньго/нижнього) відступу, бокові - перерозподіл рівномірний*/
}

.logo, .navigation, .navigation-item, .nomber{
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/
    list-style: none; /*видаленн позначок у списку*/
    padding: 0; /*вутрішні відступи*/
    margin: 0; /*зовнішні відступи*/
}

.logo{
    float: left;
    padding: 1rem 0;
}

.navigation{
    float: right;   /*можливість обтікання*/ 
}

.nomber a{
    color: white;
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/
    padding: 1.8rem 0.4rem;
    border-left: 1px solid #272727;
    }

.navigation-item a{
    color: white;
    text-transform: uppercase; /*зробили всі букви великими*/
    text-decoration: none; /*забрали підкреслення*/
    font-size: small;
    display: inline-block;
    padding: 1.8rem 0.5rem; /*відступи зверху/знизу відступи*/
}

.history{
    color: white;
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
    padding: 1rem 0.1rem;
}

table{
    color: white;  
    background-color: #131313; 
    width: 70%;
    margin: 0 auto;    
    /*text-align: left;*/
    border-left: #727272 1px;
    font-size: 16px;
}

thead{
    color: #727272;
    text-transform: uppercase;
}

.floor{
    display: inline-block; /*зміна типу елемента на блочно-лінійний*/
    list-style: none; /*видаленн позначок у списку*/   
    width: 70%;
    margin: 0 auto;
}

td{
    height: 2rem;
}